* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin : 0px;

    background-color: rgb(39, 34, 52);
}

.header {
    margin: 0px;

    background-color: rgb(64, 70, 75);
}

.header .navbar {
    background-color: aquamarine;
    width: 100%;
    display: flex;

    list-style: none;
}

.navbar a {
    padding: 20px;
    background-color: rgb(244, 137, 137);

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.navbar a {
    padding: 20px 50px;
}

.navbar a:hover {
    background-color: black;
}

.navbar .home{
    flex-grow: 4;
    flex-shrink: 3;
}

h1 {
    color: aliceblue;
}

p {
    color: beige;
}